@model many.ViewModel.StudentViewModel

@{ 
    ViewData["title"] = "Delete";
    string CourseName = "";
}
<h1> Are you Sure Want To Delete </h1>
<div>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dd>
                @{
                    CourseName = "";

                    @foreach (var item in Model.courseViewModels)
                    {
                        CourseName +=(item?.Name +" ,");

                    }
                        }
                @CourseName
                    </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>